<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    {% for a in filmes%}
    <h1>{{a.titulo}}, {{a.data}}, {{a.duracao}} <a href="/deleteFilme/{{a.id}}/" ><button>Deletar</button></a> </h1>    
    {% endfor %}

    <form action="/addFilme/" method="POST">
        {% csrf_token %}
        <label for="filmTitulo">Titulo</label><br>
        <input type="text" id="filmTitulo" name="filmTitulo"><br>

        <label for="filmDuracao">Duracao</label><br>
        <input type="text" id="filmDuracao" name="filmDuracao"><br>

        <label for="filmData">Data</label><br>
        <input type="text" id="filmData" name="filmData"><br><br>
        
        <input type="submit" value="ADD"></form>

</body>
</html>