<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalhes do Usuário</title>
</head>
<body>
    <h1>Informações do Usuário</h1>
     
    {% if user.is_authenticated %}
    <p><strong>tá logado</strong></p> 
    <p><strong>Nome:</strong> {{ usuario.username }}</p> <!-- chamar username para o nome -->
    <p><strong>E-mail:</strong> {{ usuario.email }}</p>
    {%endif%}
    
    <br>
    <a href="{% url 'index' %}">Voltar</a>
</body>
</html>
